.footer
	.back_to_top_button
        margin-top: -155px
        color: #fff
        font-size: 32.84px
        text-align: center
        padding-top: 70px
        position: relative
        line-height: 1
        padding-bottom: 49px
        display: block
        cursor: pointer 
        &::before 
            content: ""
            position: absolute 
            top: 0
            left: 50%
            transform: translateX(-50%)
            width: 102px 
            height: 50px 
            background-image: url('../assets/images/back_button_icon.svg')
						
