.hero_block
    background-color: #CA3240
    height: calc( 100vh - 90px )
    position: relative
    min-height: 900px
    +max-screen(768px) 
        height: 85vh
    .background_image 
        position: absolute
        bottom: 11.2% 
        top: 0
        left: 4.79%
        right: 4.79%
        background-color: #000000
        clip-path: polygon(0 0,100% 0,100% 0,50% 100%)
        +max-screen(1400px)
            left: 0
            right: 0
            bottom: 0
            clip-path: polygon(0 0,100% 0,100% 100%,50% 100%)
        +max-screen(992px)
            +min-screen(769px)
                clip-path: polygon(0 0,100% 0,100% 100%,93.45% 100%)
        +max-screen(768px)
            clip-path: polygon(0% 0%,100% 0%,100% 100%,100% 100%)
            left: 0
            right: 0
            bottom: 0
        &::after
            content: ""
            position: absolute
            top: 0
            bottom: 0
            left: 0
            right: 0
            background: #000
            opacity: .4
        img 
            width: 100% 
            height: 110% 
            object-fit: cover
            max-width: 86.55%
            display: block
            margin-left: auto 
            margin-right: auto
            position: relative
            bottom: 0
            +max-screen(1400px)
                max-width: 100%
        .img_arrow 
            background: #fff
            width: 5.86%
            position: absolute
            right: 50%
            transform: translateX(45%)
            bottom: 34px
            z-index: 4
            clip-path: polygon(0 0,100% 0,100% 0,50% 100%)
            &::before 
                content: ""
                display: block
                padding-bottom: 50%
                +max-screen(1400px)
                    +min-screen(993px)
                        content: none
    .background_lines
        &1
            position: absolute
            -webkit-transform: rotate(45deg)
            transform: rotate(45deg)
            background: #94c8c6
            bottom: 19.2%
            left: -2%
            width: 12.5%
            height: 2px
        &2 
            position: absolute
            -webkit-transform: rotate(45deg)
            transform: rotate(45deg)
            background: #00A684
            height: 2px
            bottom: 7.7%
            right: -0.8%
            width: 11.4%
        &3
            position: absolute
            height: 1px
            top: 9.3%
            left: 20% 
            width: 13.725%
            background: #FF8000
            transform: rotate(45deg) 
        &4 
            position: absolute 
            right: 19.9%
            top: 58.1%
            width: 28.46%
            height: 1px 
            background: #E99C00
            transform: rotate(45deg) 
    .right_triangular
        height: 100%
        width: 56.5%
        margin-left: auto
        background: #fff
        clip-path: polygon(91.4% 0%,100% 0,100% 100%,0% 100%)
        +max-screen(1400px)
            display: none
    .container 
        position: absolute 
        top: calc( 50% + 50px )
        left: 0
        right: 0
        transform: translateY(-50%)
        padding-left: 110px 
        padding-right: 110px 
        max-width: 100%
        +max-screen(1919px)
            padding-left: 50px
        +max-screen(1200px)
            padding-left: 50px 
            padding-right: 50px
        +max-screen(992px)
            padding-left: 30px 
            padding-right: 30px 
        +max-screen(768px)
            padding-left: 20px 
            padding-right: 20px
    h1 
        font-size: 150px
        line-height: 0.813
        color: #fff 
        text-transform: uppercase
        max-width: 1052px 
        +max-screen(1919px)
            font-size: 120px
        +max-screen(1200px)
            font-size: 100px
        +max-screen(768px)
            font-size: 84px
            margin-bottom: 24px
        +max-screen(576px)
            font-size: 50px
    &__subtitle
        color: #fff 
        font-size: 28px
        line-height: 1.36
        margin-left: 10px 
        max-width: 585px
.anchor_links_line
    background: #121938
    max-height: 90px
    overflow: hidden
    +max-screen(768px)
        overflow: visible
        max-height: none
    .container
        max-width: 1560px 
        padding-left: 50px
        padding-right: 50px
        +min-screen(2160px)
            max-width: 1920px
        +max-screen(992px)
            padding-left: 0
            padding-right: 0
    &__list 
        display: flex 
        justify-content: center
        +max-screen(768px)
            flex-direction: column
    &__item 
        width: 35%
        clip-path: polygon(0% 0%,82.5% 0%,100% 100%,17.5% 100%)
        a
            color: #fff
            height: 91px 
            font-size: 32px
            padding-top: 32.1px 
            padding-bottom: 25.9px
            line-height: 1
            display: flex 
            justify-content: center 
            align-items: center
            +max-screen(1200px)
                +min-screen(993px)
                    font-size: 24px
                    height: 72px
            +max-screen(992px)
                height: 64px 
                font-size: 20px 
                padding-top: 12px 
                padding-bottom: 12px
            +max-screen(768px)
                height: 70px
                font-size: 24px
                padding-top: 10px
                padding-bottom: 10px
        &:first-child
            background: #DE9919
            margin-right: -2%
            +max-screen(768px)
                margin-right: 0
        &:nth-child(2)
            background: #00A684
            margin-left: -1%
            margin-right: -1%
            +max-screen(768px)
                margin-left: 0
                margin-right: 0
        &:last-child
            background: #94C8C6
            margin-left: -2%
            +max-screen(768px)
                margin-left: 1px
        +max-screen(768px)
            width: 84%
            clip-path: polygon(9.5% 0,100% 0%,90.5% 100%,0% 100%)
            margin-top: -1px
            &:first-child
                margin-left: auto 
                margin-top: 0
            &:nth-last-child(2)
                margin-left: calc( 8% + 0.5px )
.brand_experience
    position: relative
    padding-bottom: 112px
    +max-screen(768px)
        padding-bottom: 53vw
    .background_triangular
        width: 38.8%
        background: #DE9919
        clip-path: polygon(0 0,100% 0,0% 100%,0 100%)
        position: absolute 
        top: 0
        left: 0
        +max-screen(768px)
            width: 76.5%
        &::before 
            content: ""
            display: block 
            padding-bottom: 100%
    &__line 
        position: absolute
        width: 12.5%
        top: 34.67%
        right: -24%
        background: #94C8C6
        height: 2px
        transform: rotate(45deg)
        z-index: 2
    &__top 
        position: relative
        padding-top: 114px
        margin-bottom: 134px
        max-width: 1350px 
        margin-right: auto
        +min-screen(2160px)
            max-width: 70%
        +max-screen(1400px)
            +min-screen(993px)
                max-width: 86%
        +max-screen(992px)
            margin-bottom: 48px
        +max-screen(768px)
            margin-bottom: 32px
        .top_triangular
            background: #DE9919
            width: 63px
            height: 31.5px
            clip-path: polygon(0% 0%,100% 0%,50% 100%,50% 100%)
            margin-left: auto
            margin-bottom: 20px
        .container 
            max-width: 1150px
            margin-left: auto
            margin-right: 0
            padding-right: 0
            +min-screen(2160px)
                max-width: 75%
                padding-top: 3vw
            +max-screen(992px)
                +min-screen(769px)
                    padding-right: 30px 

        .separator 
            height: 24px 
            // background: #E99C00
            width: 38.9%
            margin-left: auto 
            +max-screen(768px)
                height: 12px
                margin-right: auto
                margin-left: 0
    &__title 
        text-align: right
        margin-bottom: 24px
        +max-screen(768px)
            text-align: left
    &__subtitle 
        text-align: right
        max-width: 840px
        margin-left: auto
        margin-bottom: 34px 
        +max-screen(768px)
            text-align: left
    &__bottom 
        +min-screen(2160px)
            padding-top: 2vw
        .container 
            max-width: 51.3%
            margin-left: 0 
            padding-left: 7.7%
            box-sizing: content-box
            +min-screen(2160px)
                max-width: 60%
            +max-screen(1400px)
                +min-screen(993px)
                    max-width: 80%
            +max-screen(992px)
                box-sizing: border-box
                padding-left: 30px 
                padding-right: 30px 
                max-width: 100%
            +max-screen(768px)
                max-width: 100%
    &__content 
        display: flex 
        +max-screen(768px)
            flex-direction: column
        .left_column 
            width: 48.3%
            +max-screen(768px)
                width: 100%
        .right_column 
            width: 44.2%
            margin-left: auto 
            +max-screen(1200px)
                +min-screen(993px)
                    padding-bottom: 32vw
            +max-screen(1400px)
                padding-bottom: 35vw
            +max-screen(768px)
                width: 100%
            +max-screen(992px)
                +min-screen(769px)
                    padding-bottom: 42vw
            +min-screen(1401px)
                padding-bottom: 180px
            +min-screen(2160px)
                padding-bottom: 25vw
    .bottom_background_triangular 
        width: calc(57.25% + 2px)
        position: absolute
        bottom: 0
        right: 0
        clip-path: polygon(0 100%,100% 0,100% 100%,0% 100%)
        overflow: hidden
        img 
            width: 100% 
            height: 110% 
            object-fit: cover 
            object-position: center
            position: absolute
            top: 0
            right: 0
        &::before 
            content: ""
            display: block
            padding-top: 100%
.experimental
    overflow: visible
    .container 
        max-width: 1550px 
        +min-screen(2160px)
            max-width: 1920px
    &__header 
        background: #00A684
        padding-top: 190px 
        padding-bottom: 103px
        position: relative
        margin-top: -1px
        +max-screen(1400px)
            +min-screen(1201px)
                padding-top: 150px
        +max-screen(1200px)
            +min-screen(993px)
                padding-top: 100px
        +max-screen(992px)
            padding-top: 150px
        +max-screen(768px)
            padding-top: 25vw 
            padding-bottom: 64px
        &__title 
            color: #fff 
            text-align: right
            max-width: 1140px
            margin-left: auto 
            &::before 
                content: ""
                width: 63px
                margin-left: 25.7%
                height: 31.5px 
                background: #121938
                display: block
                margin-bottom: 22px
                clip-path: polygon(0% 0%,100% 0,50% 100%,0 0%)
            +min-screen(2160px)
                max-width: 75%
            +max-screen(1400px)
                +min-screen(1201px)
                    max-width: 70vw 
            +max-screen(1200px)
                +min-screen(993px)
                    max-width: 65vw
            +max-screen(992px)
                +min-screen(769px)
                    max-width: 78vw
        &__triangular
            width: 42.75%
            background: #fff 
            position: absolute
            top: -1px
            left: 0
            z-index: 2
            clip-path: polygon(0% 0%,100% 0,0% 100%,0 0%)
            &::before 
                content: ""
                display: block
                padding-bottom: 100%
        &__line  
            content: ""
            position: absolute
            top: 14% 
            left: 1.13%
            width: 23.039%
            height: 1px 
            background: #E99C00
            transform: rotate(45deg)
            z-index: 2
    &__main 
        position: relative
        +min-screen(2160px)
            min-height: 1200px
            display: flex 
            align-items: center
        +max-screen(768px)
            flex-direction: column
            display: flex
        &__content 
            text-align: right
            max-width: 722px
            margin-left: auto
            +min-screen(2160px)
                max-width: 60%
            +max-screen(1200px)
                +min-screen(993px)
                    max-width: 80%
            +max-screen(992px)
                +min-screen(769px)
                    max-width: 100%
        &__title
            margin-bottom: 39px
            padding-top: 58.3px 
            +max-screen(768px)
                margin-bottom: 28px 
        &__text
            width: 81.3%
            margin-left: auto 
            margin-top: 53.6px
            padding-bottom: 88px
            +max-screen(992px)
                width: 100%
            +max-screen(768px)
                margin-top: 24px 
                padding-bottom: 32px
        .separator
            height: 24px 
            // background: #00A684
            width: 43.6%
            margin-left: auto 
            +max-screen(768px)
                height: 12px
        .left_triangular_image
            background: #333333
            width: 37.29%
            position: absolute
            top: 50%
            clip-path: polygon(0% 0%,100% 50%,0% 100%,0% 0)
            overflow: hidden
            +min-screen(2160px)
                bottom: -40%
                top: -40%
            +max-screen(2159px)
                bottom: -41%
                top: -50%
            +max-screen(1919px)
                top: -25% 
                bottom: -15%
            +max-screen(1400px)
                +min-screen(1201px)
                    top: -10% 
                    bottom: -10%
            &::before 
                content: ""
                display: block
                padding-bottom: 200%
                +max-screen(992px)
                    +min-screen(769px)
                        content: none
            img 
                position: absolute
                top: 0%
                height: 100%
                width: calc(100% + 34px)
                object-fit: cover
                margin-left: -34px
                +max-screen(1200px)
                    +min-screen(993px)
                        height: 85%
                        margin-top: auto
                        margin-bottom: auto
                        object-fit: cover
            +max-screen(1200px)
                +min-screen(993px)
                    margin-bottom: -90px
                    margin-top: -120px
                +min-screen(769px)
                    float: left 
                    position: static
                    top: 0
                    shape-outside: polygon(0% 0%,100% 50%,0% 100%,0% 0)
                    display: flex 
                    align-items: center
                    margin-left: -30px
                    img 
                        transform: none
                        position: static 
                        top: 0
            +max-screen(768px)
                order: 2
                margin-bottom: 64px
                position: static
                transform: none 
                padding-left: 30px 
                padding-right: 30px 
                clip-path: none 
                width: 100%
                background: transparent
                &::before 
                    content: none
                img 
                    margin-left: 0
                    position: static
                    width: 100% 
                    transform: none

.digital_experience 
    position: relative
    +max-screen(992px)
        +min-screen(769px)
            display: flex 
            flex-wrap: wrap
    .container
        max-width: 1260px
        padding-left: 50px 
        padding-right: 50px 
        +min-screen(2160px)
            padding-right: 120px
            max-width: 1920px
        +max-screen(1400px)
            +min-screen(993px)
                padding-right: 85px
        +max-screen(992px)
            padding-left: 30px 
            padding-right: 30px
    &__title 
        line-height: 1.1625
        margin-bottom: 82px
        padding-top: 97px
        +max-screen(1200px)
            +min-screen(993px)
                max-width: 85vw
                margin-left: auto
        +max-screen(992px)
            margin-bottom: 48px
            padding-top: 64px
        +max-screen(768px)
            margin-bottom: 32px
            padding-top: 42px
        &::before 
            display: block 
            width: 63px
            height: 31.5px
            background: #fff
            content: ""
            margin-bottom: 24.6px
            clip-path: polygon(0 0,100% 0,50% 100%,0 0)
            margin-left: -20px
            +max-screen(1400px)
                +min-screen(993px)
                    margin-left: 5%
                +min-screen(1201px)
                    margin-left: 10%
    &__subtitle 
        margin-bottom: 38px 
        margin-right: 5px
        +max-screen(992px)
            margin-bottom: 24px
    .separator 
        height: 24px 
        width: 41.8%
        // background: #fff 
        display: inline-block
        margin-bottom: 40px
        +max-screen(992px)
            margin-bottom: 32px
        +max-screen(768px)
            height: 12px
            margin-bottom: 24px
    &__content
        max-width: 560px
        margin-left: auto
        padding-bottom: 42px
        +min-screen(2160px)
            max-width: 760px
        +max-screen(1400px)
            +min-screen(993px)
                max-width: 100%
        +max-screen(992px)
            max-width: 100%
        &Wrapper 
            max-width: 944px
            margin-left: auto 
            +min-screen(2160px)
                max-width: 1044px
            +max-screen(1400px)
                +min-screen(993px)
                    max-width: 100%
            .left_transparent_triangular 
                float: left 
                width: 74% 
                margin-left: -50px
                clip-path: polygon(100% 100%,100% 100%,0 100%,0% 0%)
                shape-outside: polygon(100% 100%,100% 100%,0 100%,0% 0%)
                background: transparent
                +min-screen(1401px)
                    display: none 
                +max-screen(992px)
                    display: none
    &__text 
        padding-bottom: 422px
        +max-screen(992px)
            padding-bottom: 0
    .top_triangular
        position: absolute
        left: 0
        top: 0
        background: #94c8c6
        height: 100%
        clip-path: polygon(100% 0,100% 57.32%,68.78% 100%,0% 0%)
        width: 100%
        z-index: -1
        +max-screen(1200px)
            +min-screen(993px)
                //clip-path: polygon(100% 0,100% 57.32%,52.78% 100%,0 0)
        +max-screen(992px)
            clip-path: none
    .bottom_left_image 
        position: absolute
        left: 0
        bottom: 45px
        width: 68.49%
        height: 62%
        z-index: -2
        overflow: hidden
        +max-screen(992px)
            +min-screen(769px)
                width: 50% 
                padding-left: 30px 
                padding-right: 15px 
                margin-bottom: 64px
                height: auto
                z-index: 1
                position: static
        +max-screen(768px)
            width: 100%
        img
            width: 100% 
            height: 120%
            object-fit: cover
            position: relative
            bottom: 0
            +max-screen(768px)
                padding-bottom: 30px
        +max-screen(768px)
            position: static
            padding-left: 30px 
            padding-right: 30px
    .bottom_right_image 
        position: absolute
        right: 0
        bottom: 45px
        width: 34.32%
        height: 45.93%
        z-index: -3
        overflow: hidden
        +max-screen(992px)
            +min-screen(769px)
                padding-right: 30px 
                padding-left: 15px 
                margin-bottom: 64px 
                width: 50%
                height: auto 
                z-index: 1
                position: static
        +max-screen(768px)
            width: 100%
        img
            width: 100% 
            height: 120%
            object-position: left
            object-fit: cover
            bottom: 0
            position: relative
            +max-screen(768px)
                padding-bottom: 30px
        +max-screen(768px)
            position: static
            padding-left: 30px 
            padding-right: 30px
.brands_line
    background: #121938
    &__slider 
        max-width: 80% 
        margin-left: auto 
        margin-right: auto
        padding-top: 70px
        padding-bottom: 70px
        +max-screen(768px)
            max-width: 100% 
            padding-top: 24px
            padding-bottom: 24px
        .slick-track
            display: flex 
            justify-content: center
    .slick-slide 
        width: 25% !important
        opacity: 0.5
        & > div 
            height: 100%
            display: flex 
            align-items: center
            margin: 0 20px
        +max-screen(768px)
            opacity: 0 
            &.slick-active 
                opacity: 1
        &.slick-current
            opacity: 1
        img 
            width: 100%
            height: 100%
            max-height: 165px
            object-fit: contain
            object-position: center
.page_card
    position: relative
    &::before 
        content: ""
        display: block
        padding-bottom: 91%
    .left_triangular 
        width: 20% 
        position: absolute
        left: 0
        bottom: -1px
        background: #CA3240
        clip-path: polygon(0% 0%,100% 100%,0% 100%,0% 0%)
        &::before 
            display: block
            content: ""
            padding-bottom: 100%
    &__image 
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        img
            width: 100% 
            height: 100%
            object-fit: cover
            object-position: center
    &__content
        z-index: 1 
        position: absolute
        top: 50% 
        left: 0%
        transform: translateY( -50% )
        color: #fff
        text-align: center
        right: 0
    &__title 
        font-size: 60px
        line-height: 1
        position: relative
        +max-screen(1440px)
            font-size: 48px
        +max-screen(1200px)
            font-size: 42px
        +max-screen(768px)
            font-size: 34px
        &::after 
            content: ""
            width: 63.54%
            height: 2px
            background: #DE9919
            bottom: -6px
            position: absolute
            left: 50% 
            transform: translateX(-50%)
            +max-screen(768px)
                width: 40%
    &__subtitle 
        font-size: 32px
        line-height: 1.875
        +max-screen(1440px)
            font-size: 26px
        +max-screen(1200px)
            font-size: 22px
        +max-screen(768px)
            font-size: 18px
    &s_bottom 
        color: #fff 
        padding-top: 164px
        padding-bottom: 25.6px
        background: #CA3240
        +max-screen(992px)
            padding-top: 72px 
            padding-bottom: 64px
        +max-screen(768px)
            padding-bottom: 48px
            padding-top: 0
        .container 
            max-width: 1880px 
            padding-left: 50px 
            padding-right: 50px 
            display: flex 
            align-items: flex-end
            +max-screen(992px)
                flex-direction: column
                align-items: center 
                text-align: center
                padding-left: 30px 
                padding-right: 30px
            +max-screen(768px)
                flex-direction: column
                align-items: center
                text-align: center
                padding-left: 30px 
                padding-right: 30px 
        &__title 
            font-size: 114px
            line-height: 0.9824
            margin-right: 32px
            +max-screen(992px)
                font-size: 64px
            +max-screen(768px)
                font-size: 42px
                margin-top: 32px
                margin-bottom: 18px
        &__subtitle
            font-size: 30px
            line-height: 1.245
            margin-left: -5px
            +max-screen(992px)
                font-size: 24px
            +max-screen(768px)
                font-size: 20px
    &s_wrapper 
        margin-bottom: 11px
.contact
    background: #CA3240
    position: relative
    padding-bottom: 602px
    +max-screen(768px)
        padding-bottom: 42px
    &__cards_wrapper
        padding-top: 117px 
        padding-bottom: 177px
        position: relative
        .background_rectangle
            height: calc( 31.18% + 1px )
            width: 100% 
            position: absolute
            top: 0
            left: 0
            background: #9ED2D0
            +max-screen(992px)
                height: calc(83.18% + 1px)
            +max-screen(768px)
                height: calc(91.18% + 1px)
        .background_triangular
            height: 68.82%
            position: absolute
            right: -2px
            left: -2px
            bottom: 0
            background: #9ED2D0
            clip-path: polygon(0% 0%,102.47% 0,50% 100%,0 0)
            +max-screen(992px)
                height: 16.82%
            +max-screen(768px)
                height: 8.82%
    &__card 
        padding-left: 54.3px 
        padding-right: 54.3px 
        margin-bottom: 50.8px
        +max-screen(1400px)
            +min-screen(993px)
                padding-left: 30px
                padding-right: 30px
        +max-screen(768px)
            margin-bottom: 32px 
            &:last-child
                margin-bottom: 0
        &__image 
            margin-bottom: 32.7px
            position: relative
            img 
                width: 100%
            .left_triangular
                position: absolute
                left: 0
                top: 0
                width: 23%
                background: #DE9919
                clip-path: polygon(0 0,100% 0%,0 100%,0 0)
                &::before 
                    display: block 
                    content: ""
                    padding-bottom: 100%
                img
                    width: 100%
                    object-fit: cover
                    object-position: center
        &__name 
            font-size: 28px
            line-height: 1
            +max-screen(768px)
                font-size: 22px
        &__position 
            font-size: 21px
            line-height: 1.33
            color: #D43240
            +max-screen(768px)
                font-size: 16px
        &__name,
        &__position
            text-align: center
            max-width: 290px
            margin-left: auto 
            margin-right: auto
        &:first-child
            .contact__card__position 
                color: #B0123F
    &__cards 
        margin-left: -54.3px 
        margin-right: -54.3px 
        justify-content: center
        +max-screen(1400px)
            +min-screen(993px)
                margin-left: -30px
                margin-right: -30px
    .container 
        max-width: 1708px 
        padding-left: 81px 
        padding-right: 50px   
        +max-screen(1200px)
            +min-screen(993px)
                padding-left: 50px
        +max-screen(768px)
            padding-left: 30px 
            padding-right: 30px 
    &__title 
        font-size: 114px
        line-height: 98.24%
        position: absolute
        top: 46%
        right: 15%
        color: #fff
        letter-spacing: 19.5px
        +max-screen(1919px)
            letter-spacing: 0
        +max-screen(1440px)
            +min-screen(1201px)
                font-size: 100px
                letter-spacing: 0
                top: 42%
                right: 10%
            +min-screen(1320px)
                right: 12%     
            +min-screen(1400px)
                right: 15%
                top: 43%           
        +max-screen(1200px)
            +min-screen(993px)
                font-size: 80px
                letter-spacing: 0
                top: 41%
        +max-screen(992px)
            font-size: 56px
            letter-spacing: 0
            top: 18% 
            right: 26%
        +max-screen(768px)
            font-size: 54px
            position: relative
            top: auto 
            right: auto
            letter-spacing: 0
            padding-bottom: 54px
        &::before 
            content: ""
            position: absolute
            right: 3%
            bottom: -60px
            width: 34.16%
            height: 24px
            background: #fff
            +max-screen(992px)
                bottom: -32px
                height: 12px
            +max-screen(768px)
                height: 12px
                left: 0 
                bottom: 24px
        &Wrapper
            position: absolute
            left: 0
            bottom: 0
            background: #121938
            width: 48.43%
            height: 97%
            clip-path: polygon(0 0,100% 49%,0% 100%,0% 0)
            transition-property: transform, opacity
            +max-screen(1440px)
                height: 99%
                clip-path: polygon(0 0,100% 46%,0 100%,0 0)
                +min-screen(1320px)
                    height: 97%
                    clip-path: polygon(0 0,100% 47%,0 100%,0 0)
                +min-screen(1400px)
                    clip-path: polygon(0 0,100% 47%,0 100%,0 0)
            +max-screen(1200px)
                +min-screen(993px)
                    clip-path: polygon(0 0,100% 44.5%,0 100%,0 0)
            +max-screen(992px)
                clip-path: polygon(0 0,100% 17%,0 100%,0 0)
                height: 64%
                +min-screen(900px)
                    height: 62%
            +max-screen(768px)
                position: static 
                background: transparent 
                clip-path: none
                padding-left: 30px 
                padding-right: 30px 
                padding-top: 48px 
                width: 100%
    &__data 
        position: absolute
        left: 59%
        font-size: 32.84px
        line-height: 1.2454
        right: 7.8%
        bottom: 18%
        +max-screen(1400px)
            +min-screen(1201px)
                bottom: 18%
        +max-screen(1200px)
            +min-screen(993px)
                right: 3.8%
                left: 55%
        +max-screen(992px)
            right: 2.8% 
            left: 57%
            font-size: 26px
        +max-screen(768px)
            padding-left: 30px 
            padding-right: 30px 
            position: static
            font-size: 24px
        * 
            color: #fff
        & > div 
            margin-bottom: 40.9px 
            &:last-child
                margin-bottom: 0
            &.contact__data__phone 
                margin-bottom: 0
            +max-screen(992px)
                margin-bottom: 28px
            +max-screen(768px)
                margin-bottom: 28px
        &__google-maps
            a 
                text-decoration: underline

.separator
    position: relative
    &::before
        content: ""
        position: absolute
        width: 50%
        right: 0
        height: 100%
        background: red
        transition: linear 1s all
        .active-separator &
            width: 100%
        .experimental__main &
            background-color: #00a684
        .brand_experience__top &
            background-color: #e99c00
        .digital_experience &
            background-color: white
            left: 0
        .single-page__wrapper &
            background-color: #CA3240
.home_page_map
    position: absolute
    bottom: 1%
    left: 59% 
    width: 30%
    height: 15%
    & > .agm-canvas
        height: 100% !important
    +max-screen(1200px)
        width: 42%
        left: 55%
    +max-screen(992px)
        left: 57%
        width: 39%
        height: 15%
    +max-screen(768px)
        position: static
        width: auto
        margin-left: 30px 
        margin-right: 30px 
        margin-top: 32px