.page-php
    padding-bottom: 60px
    .page
        padding-top: 100px
    .content-block
        h1,h2,h3,h4,h5,h6
            margin-top: 0
        h1
            font-size: 50px
        h2
            font-size: 40px
            margin-bottom: 20px
        h3
            font-size: 30px
            margin-bottom: 20px
        h4
            font-size: 25px
            margin-bottom: 20px
        h5
            font-size: 20px
            margin-bottom: 20px
        h6
            font-size: 18px
            margin-bottom: 20px
        p
            margin-bottom: 15px
.footer
    position: relative
    .page-template-default:not(.home) &
        padding-bottom: 60px
    .back_to_top_button
        .page-template-default &
            margin-top: 0
            color: #ca3240
    .home &
        background-color: #ca3240
        .footer__privacy
            left: 50%
            transform: translateX(-50%)
            text-align: center
            top: -75px
            +max-screen($breakpoint-md)
                position: relative
                top: 0
    .single-case_study &
        .footer__privacy
            color: #ca3240
    &__privacy
        position: absolute
        right: 0
        bottom: 0
        display: block
        text-align: right
        padding: 20px
        color: white
        text-decoration: underline
        +max-screen($breakpoint-md)
            display: none
        &:hover
            text-decoration: none
.hide-desktop
    +min-screen($breakpoint-md)
        display: none !important